<h1 class='title'>Show</h1>

<strong>Nome</strong>
<%= @writer.name %>
<strong>Nascimento</strong>
<%= @writer.birth_year %>
<strong>País</strong>
<%= @writer.country %>

<%= link_to  "Voltar", writers_path() %>