<h1 class='title'>Desafio semana 3</h1>

<section class='links'>
  <%= link_to books_path(), :class => 'link' do %>
    <div>
      <span>Livros</span>
    </div>
  <% end %>

  <%= link_to writers_path(), :class => 'link' do %>
    <div>
      <span>Escritores</span>
    </div>
  <% end %>
<section>